<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<display-name>RegisterUserServlet</display-name>
  	<description></description>
  	<servlet-class>controler.RegisterUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginUserServlet</servlet-name>
  	<display-name>LoginUserServlet</display-name>
  	<description></description>
  	<servlet-class>controler.LoginUserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ASD</servlet-name>
  	<display-name>ASD</display-name>
  	<description></description>
  	<servlet-class>controler.ASD</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>zsa</servlet-name>
  	<display-name>zsa</display-name>
  	<description></description>
  	<servlet-class>controler.zsa</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterUserServlet</servlet-name>
  	<url-pattern>/RegisterUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginUserServlet</servlet-name>
  	<url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ASD</servlet-name>
  	<url-pattern>/ASD</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>zsa</servlet-name>
  	<url-pattern>/zsa</url-pattern>
  </servlet-mapping>
</web-app>
